.about-us {
    padding-top: 87px;
    padding-bottom: 146px;

    &__buttons {
        padding-top: 72px;
        display: flex;
        gap: 5px;
    }

    &__block {
        width: 50%;
        padding-top: 64px;

        &_has-padding {
            padding-right: 123px;
            padding-top: 124px;
        }
    }
}