.collections {

    padding-top: 101px;

    &__block {
        padding-top: 70px;
    }

    &__title {
        padding-left: 50px;
        padding-top: 29px;
        padding-bottom: 37px;
    }

    &__button {
        text-align: center;
        padding-top: 64px;
    }
}