@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    color: #2F2F2F;
}

.none {
    display: none !important;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.inner {
    width: 100%;
    display: flex;

    &_rewers {
        flex-direction: row-reverse;
    }

    &_has-spacebtw {
        justify-content: space-between;
    }
}

.hidden {
    display: none;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

ul,
ol,
li {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul,
ol,
li {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}