$button-back-color-active: #2F2F2F;
$button-text-color-active: white;
$button-back-color-hover: #535151;
$button-back-color-focus: #8d8d8d;

$short-information-green: #82CBAC;
$short-information-red: #FF7F96;