.faq {
    padding-top: 55px;
    padding-bottom: 103px;


    &__accordion {
        padding-top: 25px;


        &-title {
            padding: 29px 90px;
            font-size: 22px;
            display: flex;
            justify-content: space-between;
        }

        &-text {
            padding: 5px 90px;
            font-size: 18px;
        }

    }

    &__line1 {
        display: block;
        width: 14px;
        height: 3px;
        background-color: #79AF98;
    }
}